.page {
  min-width: 100vw;
  height: 100vh;
  background-color: #202020;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', 'SuisseInt', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;

  scroll-behavior: smooth !important;
}
